body{  
  font-family: Calibri, Helvetica, sans-serif;  
  background-color: rgba(0, 0, 0, 0.342); 
  padding: 40px; 
  top:50%;
  left:50%; 
}  
.container {  
    padding: 100px;  
  background-color: rgba(206, 213, 236, 0.774);  
}  
  
input[type=text], input[type=password], textarea {  
  width: 100%;  
  padding: 15px;  
  margin: 5px 0 18px 0;  
  display: inline-block;  
  border:brown;  
  background: #f1f1f1;  
}  
input[type=text]:focus, input[type=password]:focus {  
  background-color:lightgreen;  
  outline: none;  
}  
 div {  
            padding: 10px 0;  
         }  
hr {  
  border: 1px solid #f1f1f1;  
  margin-bottom: 25px;  
}  
}
.registerbtn {  
  background-color: #4cafa2;  
  color: white;  
  padding: 16px 20px;  
  margin: 8px 0;  
  border: none;  
  cursor: pointer;  
  width: 100%;  
  opacity: 0.9;  
}  
.registerbtn:hover {
    opacity: 1; 
  } 
  
.registerbt {  
  background-color: #4cafa2;  
  color: white;  
  padding: 16px 20px;  
  margin: 8px 0;  
  border: none;  
  cursor: pointer;  
  width: 100%;  
  opacity: 0.9;  
}  
.registerbt:hover {
    opacity: 1; 
  } 